.about-detail strong{
    color: #d5c455;
}
.about-img{
    width: 55%;
    border-radius: 25px;
    border: 10px solid #d5c455;
}
.about-detail h1{
    color: #d5c455;
    padding-bottom: 15px;
}
.skill-section .custom-back-color{
    color: #fff;
    margin-top: 20px;
    margin: auto;
    height: 390px;
}
.skill-section .custom-back-color h6{
    line-height: 2rem;
}
.skill-section strong{
    color: #333;
}
.skill-section h3{
    color: #333;
}